---
title: We are nice people working to realize your dreams.
published: true
---



@@include('../templates/_head.tpl')

<body class="home">

  @@include('../templates/_homenav.tpl')

  <main>
    <section id="js-panel-fullwidth" class="panel-full panel-fullwidth-img panel-home">
      <img id="js-pixelate-scroll" class="img-pixelate-scroll" src="/assets/img/heart-on-wall-bnw.png" alt="colab-home">
      <canvas id="jsPixelateCanvas" class="centered-canvas" width="372" height="454"></canvas>
      <div class="red-banner-overlay"></div>
      <div class="container container-typed">
        <div class="panel-fullwidth-content vertical-center color-white">
          <span class="typedjs">It doesn't mean anything if it doesn't have heart.</span>
        </div>
      </div>
    </section> <!-- /panel -->

    <section class="panel-full panel-fullwidth-img">
      <img class="img-fullwidth upandgo-home" src="/assets/img/upandgohomebanner.png" alt="up and go image">
      <h3 class="text--uppercase recent-work">Recent Work</h3>
      <div class="banner-home-button">
        <a href="/work/upandgo" class="button--brand-outline text--uppercase">View This Project</a>
      </div>
      <img class="main-logo center-element" src="/assets/img/projects/upandgo/logo.png" alt="up and go logo">
      <h3 class="upandgo-tagline">Putting workers in charge of the gig economy</h3>
    </section> <!-- /panel -->

    <section class="panel-full">
      <div class="container center-text spacing--lg-x">
        <h2 class="h2-border-rainbow text--uppercase">We Worked With</h2>
        <div class="recent-work-block">
          <p>
            <a href="https://www.ica.coop"><img src="/assets/img/logos/ICA.png" alt="ICA"></a>
            <a href="https://www.aaas.org/"><img src="/assets/img/logos/AAAS.png" alt="AAAS"></a>
            <a href="/work/seventh-generation"><img src="/assets/img/logos/7GEN.png" alt="Seventh Generation"></a>
          </p>
          <p>
            <a href="/work/corning-museum-glassapp/"><img src="/assets/img/logos/CMOG.png" alt="Corning Museum of Glass"></a>
            <a href="https://www.vt.edu/"><img src="/assets/img/logos/VTA.png" alt="Virginia Tech"></a>
            <a href="https://democracycollaborative.org/"><img src="/assets/img/logos/DC.png" alt="Democracy Collaborative"></a>
          </p>
        </div> <!-- /recent-work-block -->
      </div>
    </section>

    <section class="container--text">
      <div id="slider-testimonial" class="slider-testimonial">

        <div class="item center-text">
          <div>
            <p>
               "I found the experience with CoLab to be smooth, professional, detail oriented, and technologically excellent."

               ...

               "CoLab is unique because they are aligned with my social justice values."

               ...

               "I would definitely recommend CoLab Co-op to other professionals in the creative sector."
            </p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Favianna Rodriguez</div>
            <div class="text--gray-medium">CEO / Owner, Favianna.com Studios</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>As a global worker-owned cooperative and certified B Corp, CoLab stands out from the extractive business norms, especially in its industry. Distinctive in its culture and structure, CoLab is committed to supporting organizations and projects creating beneficial social and environmental impacts. Its communal and impact-based principles attract talent with a rare blend of experience and empathy well beyond some simple infatuation for technology and its intoxicating potential. CoLab is authentically committed to serving those who would use technology to change the world.</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Steven Lee</div>
            <div class="text--gray-medium">LIFT Economy, Force for Good Fund</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p> Colab Cooperative was the only qualified choice for this work given the unique intersection of skillsets required, and they did great work that will benefit low-income workers and support our mission to fight poverty through the development of a more equitable cooperative economy."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Steven Lee</div>
            <div class="text--gray-medium">Managing Director, RobinHood Foundation</div>
          </div>
        </div> <!-- /item -->


        <div class="item center-text">
          <div>
            <p>"CoLab delivered 150% on the collaborative approach. That made a huge difference to the success of the project. They weren't just looking at the short-term goal, but also the long-term strategy for storytelling, user experience, performance and scalability. It was invaluable and they completely delivered in that regard."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Sarah Thompson</div>
            <div class="text--gray-medium">Marketing Manager, Digital & Direct to Consumer, Seventh Generation</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"Colab's work was very high quality. The developer we worked with clearly showed how important it was to him that the work be fast, attractive, usable, and accessible to site administrators. It was also great to work with a team for whom Oceana's mission of healthier oceans was so important."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Alex Bea</div>
            <div class="text--gray-medium">Client Lead, Oceana</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"The CoLab team combines technical expertise, professionalism, and empathy for their clients' mission. They delivered precisely what I wanted — before I knew what I wanted! I can tell that they want me to succeed as much as I do."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Daniel Mansoor</div>
            <div class="text--gray-medium">Founder, GiveNext</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"CoLab allowed me to transition from selling Excel-based products to small and medium size businesses to selling a web-based service to the enterprise. They are a talented, conscientious, passionate, professional group. I am very lucky to have found them."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Bruce Kirsch</div>
            <div class="text--gray-medium">Founder, Valuate and REFM</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"CoLab was so phenomenally helpful in setting up our end of year communications. We were successful in our goals and it is the best fundraising year Prison Radio has seen to date."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div> Jules Cowan</div>
            <div class="text--gray-medium">Prison Radio</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"It's not just their design and technical chops that sets CoLab above the crowd. It's their profound commitment to use their talents to do good. It permeates every detail and interaction. Making them an indispensable member of Lift's support team."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Shawn Berry</div>
            <div class="text--gray-medium">Founder, LIFT Business Design</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"What’s been exciting about working with CoLab is that there’s a depth of experience in a wide range of development technologies and methodologies, so we’ve been able to avoid stupid mistakes and learn to do things right. CoLab saved us from a costly mistake, and is working on a simpler way to get us what we need."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Margy Levine Young</div>
            <div class="text--gray-medium">Web Team Manager, United Universalist Association</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"The CoLab people are truly collaborative. Perfect when you want something that's customized and would like to deal with people who are personable and wonderful to work with."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Meredith Ramirez Talusan</div>
            <div class="text--gray-medium">Founder, Ricefield Collective</div>
          </div>
        </div> <!-- /item -->

        <div class="item center-text">
          <div>
            <p>"CoLab always goes above and beyond with all of their creative and technical work. They make e-commerce elementary."</p>
          </div>
          <div class="slider-testimonial-meta">
            <div>Peter Kobzeff</div>
            <div class="text--gray-medium">CFO and Co-Founder, Diamond Select</div>
          </div>
        </div> <!-- /item -->

      </div> <!-- /slider-testimonial -->
    </section>

    <section class="container spacing--lg center-text">
      <a href="/work" class="button--brand-outline color-red">See more work</a>
      <div class="spacing--sm"></div>
    </section>

    <section class="panel-full color-graylight-bg spacing--lg">
      <div class="container center-text spacing--lg-x">
        <h2 class="h2-border-rainbow text--uppercase">Grateful to appear in</h2>

        <div class="featured-home">
          <a href="https://ww2.newschool.edu/pressroom/pressreleases/2019/platformcoop2019.htm">
            <img src="/assets/img/logos/new-school-logo.png" class="vertical-inline-middle" alt="The New School" width="110">
            <span>The New School</span>
          </a>
        </div>

        <div class="featured-home">
          <a href="https://www.fiftybyfifty.org/2019/05/sbdc-working-group-pilots-employee-ownership-training/">
            <img src="/assets/img/logos/fiftybyfiftylogo.png" class="vertical-inline-middle" alt="Fifty By Fifty" width="110">
            <span>Fifty By Fifty</span>
          </a>
        </div>

        <div class="featured-home">
          <a href="https://thenextsystem.org/learn/stories/patterns-cooperative-networks-and-associations">
            <img src="/assets/img/logos/thenextsystem-logo.svg" class="vertical-inline-middle" alt="The Next System Project" width="110" style="background: #ed313d; padding: 5px;">
            <span>The Next System Project</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="http://www.explorebigsky.com/tedx-brings-positivity-to-big-sky-3/23889">
            <img src="/assets/img/logos/Tedx_logo.jpg" class="vertical-inline-middle" alt="TEDx Big Sky" width="110">
            <span>TEDx brings ‘positivity’ to Big Sky</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="https://www.wired.com/story/when-workers-control-gig-economy/">
            <img src="/assets/img/logos/wired-logo.png" class="vertical-inline-middle" alt="Wired" width="110">
            <span>Wired Magazine</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="https://www.fastcompany.com/40420806/up-go-is-a-worker-owned-alternative-to-on-demand-home-cleaning-services">
            <img src="/assets/img/logos/fastcompany_logo.jpg" class="vertical-inline-middle" alt="Fast Company" width="110">
            <span>Up & Go Is A Worker-Owned Alternative To On-Demand Home Cleaning Services</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="https://www.wnyc.org/story/6-things-know-about-worker-coops/">
            <img src="/assets/img/logos/wnyc.png" class="vertical-inline-middle" alt="WNYC" width="110">
            <span>6 Things to Know About Worker Coops</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="https://responsivewebdesign.com/podcast/seventh-generation/">
            <img src="/assets/img/logos/logo-rwd@2x.png" class="vertical-inline-middle" alt="Responsive Web Design Podcast" width="110">
            <span>Responsive Web Design Podcast: Seventh Generation</span>
          </a>
        </div>
        <div class="featured-home">
          <a href="http://www.shareable.net/blog/art-co-ops-and-the-power-of-mobilizing-collaboration-for-creativity">
            <img src="/assets/img/logos/logo-shareable@2x.png" class="vertical-inline-middle" alt="Shareable" width="110">
            <span>Art Co-ops and the Power of Mobilizing Collaboration for Creativity</span>
          </a>
        </div>
      </div>
    </section>

  </main>

  @@include('../templates/_footer.tpl')

  @@include('../templates/_tail.tpl')
