---
title: Team
published: true
---


@@include('../templates/_head-team.tpl')

<body class="culture">

  @@include('../templates/_homenav.tpl')

  <main>

    <section class="container">

      <div class="container--text">
        <h1 class="heading-primary">Meet our team</h1>
      </div> <!-- /container--text -->

      <div class="team-block">
        <ul>
          <li class="team-each">
            <a href="/team/rylan">
              <img src="/assets/img/team/rylan.jpg" alt="Rylan Peery">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Rylan Peery</div>
                <div class="text--gray-medium">Owner, Co-Founder</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/ralph">
              <img src="/assets/img/team/ralph.jpg" alt="Ralph Cutler">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Ralph Cutler</div>
                <div class="text--gray-medium">Owner, Co-Founder</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/ethan">
              <img src="/assets/img/team/ethan.jpg" alt="Ethan Winn">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Ethan Winn</div>
                <div class="text--gray-medium">Owner, Senior Strategist</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/aman">
              <img src="/assets/img/team/aman.jpg" alt="Amandeep Sapra">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Amandeep Sapra</div>
                <div class="text--gray-medium">Owner, Senior Technologist</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/david">
              <img src="/assets/img/team/david.jpg" alt="David Brooks">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">David Brooks</div>
                <div class="text--gray-medium">Owner, Developer</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/tomaz">
              <img src="/assets/img/team/tomaz.jpg" alt="Tomaž Korenika">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Tomaž Korenika</div>
                <div class="text--gray-medium">Owner, Senior Technologist</div>
              </div>
            </a>

          <!--<li class="team-each">
            <a href="/team/jenn">
              <img src="/assets/img/team/jenn.jpg" alt="Jenn Schlick">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jenn Schlick</div>
                <div class="text--gray-medium">Owner, Project Manager</div>
              </div>
            </a>-->

          <li class="team-each">
            <a href="/team/cris">
              <img src="/assets/img/team/cris.jpg" alt="Cris Nelson">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Cris Nelson</div>
                <div class="text--gray-medium">Owner, Project Manager</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/colleen">
              <img src="/assets/img/team/colleen.jpg" alt="Colleen Skemp">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Colleen Skemp</div>
                <div class="text--gray-medium">Owner, Project Manager</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/angela">
              <img src="/assets/img/team/angela.jpg" alt="Angela Dawson">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Angela Dawson</div>
                <div class="text--gray-medium">Owner, Financial Manager</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/jure">
              <img src="/assets/img/team/jure.jpg" alt="Jure Ursic">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jure Ursic</div>
                <div class="text--gray-medium">Owner, Developer</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/gabrielle">
              <img src="/assets/img/team/gabrielle.jpg" alt="Gabrielle Anctil">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Gabrielle Anctil</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a>

          <!--<li class="team-each">
            <a href="/team/sanjay">
              <img src="/assets/img/team/sanjay.jpg" alt="Sanjay Bhanjar">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Sanjay Bhangar</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>-->

           <!-- <li class="team-each">
          <a href="/team/jeremy">
            <img src="/assets/img/team/jeremy.jpg" alt="Jeremy Johns">
            <div class="text--small center-text">
              <div class="spacing--sm"></div>
              <div class="text--color-default">Jeremy Johns</div>
              <div class="text--gray-medium">Developer</div>
            </div>
          </a> -->

          <li class="team-each">
            <a href="/team/inder">
              <img src="/assets/img/team/inder.jpg" alt="Inder Brar">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Inder Brar</div>
                <div class="text--gray-medium">QA</div>
              </div>
            </a>

        <!-- <li class="team-each">
          <a href="/team/noam">
            <img src="/assets/img/team/noam.jpg" alt="Noam Eppel">
            <div class="text--small center-text">
              <div class="spacing--sm"></div>
              <div class="text--color-default">Noam Eppel</div>
              <div class="text--gray-medium">Developer</div>
            </div>
          </a> -->

        <!-- <li class="team-each">
          <a href="/team/mohd">
            <img src="/assets/img/team/mohd.jpg" alt="Mohd Ahmed">
            <div class="text--small center-text">
              <div class="spacing--sm"></div>
              <div class="text--color-default">Mohd Ahmed</div>
              <div class="text--gray-medium">Developer</div>
            </div>
          </a> -->

        <!-- <li class="team-each">
          <a href="/team/aaron">
            <img src="/assets/img/team/aaron.jpg" alt="Aaron Froehlich">
            <div class="text--small center-text">
              <div class="spacing--sm"></div>
              <div class="text--color-default">Aaron Froehlich</div>
              <div class="text--gray-medium">Developer</div>
            </div>
          </a> -->

        <li class="team-each">
          <a href="/team/karen">
            <img src="/assets/img/team/karen.jpg" alt="Karen Menezes">
            <div class="text--small center-text">
              <div class="spacing--sm"></div>
              <div class="text--color-default">Karen Menezes</div>
              <div class="text--gray-medium">Developer</div>
            </div>
          </a>

          <!-- <li class="team-each">
            <a href="/team/steve">
              <img src="/assets/img/team/steve.jpg" alt="Steve Mohlke">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Steve Mohlke</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

            <li class="team-each">
            <a href="/team/scott">
              <img src="/assets/img/team/scott.jpg" alt="Scott Nelson">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Scott Nelson</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>

          <!-- <li class="team-each">
            <a href="/team/peter">
              <img src="/assets/img/team/peter.jpg" alt="Peter Ozolins">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Peter Ozolins</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/jayme">
              <img src="/assets/img/team/jayme.jpg" alt="Jayme Peck">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jayme Peck</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

       <!--   <li class="team-each">
            <a href="/team/jess">
              <img src="/assets/img/team/jess.jpg" alt="Jess Spate">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jess Spate</div>
                <div class="text--gray-medium">SEO &amp; Digital Strategy</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/brian">
              <img src="/assets/img/team/brian.jpg" alt="Brian Toomey">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Brian Toomey</div>
                <div class="text--gray-medium">SEO &amp; Digital Strategy</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/ana">
              <img src="/assets/img/team/ana.jpg" alt="Ana Willem">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Ana Willem</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

          <!--<li class="team-each">
            <a href="/team/eli">
              <img src="/assets/img/team/eli.jpg" alt="Elijah Woolery">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Elijah Woolery</div>
                <div class="text--gray-medium">Designer</div>
              </div>
            </a>-->

          <!--<li class="team-each">
            <a href="/team/mauricio">
              <img src="/assets/img/team/mauricio.jpg" alt="Mauricio Dinarte">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Mauricio Dinarte</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>-->

          <!-- <li class="team-each">
            <a href="/team/sean">
              <img src="/assets/img/team/sean.jpg" alt="Sean Foust">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Sean Foust</div>
                <div class="text--gray-medium">Operations</div>
              </div>
            </a> -->

        <!--  <li class="team-each">
            <a href="/team/corey">
              <img src="/assets/img/team/corey.jpg" alt="Corey Keating">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Corey Keating</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/caroline">
              <img src="/assets/img/team/caroline.jpg" alt="Caroline Woolard">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Caroline Woolard</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/jeff">
              <img src="/assets/img/team/jeff-list.jpg" alt="Jeff Amaral">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jeff Amaral</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/michal">
              <img src="/assets/img/team/michal.jpg" alt="Michał Kuklis">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Michał Kuklis</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

          <!-- <li class="team-each">
            <a href="/team/doug">
              <img src="/assets/img/team/doug.jpg" alt="Doug Barrett">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Doug Barrett</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a> -->

      <!--    <li class="team-each">
            <a href="/team/anne">
              <img src="/assets/img/team/anne.jpg" alt="Anne Barkett">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Anne Barkett</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a> -->

          <li class="team-each">
            <a href="/team/pat">
              <img src="/assets/img/team/pat.jpg" alt="Pat Haggerty">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Pat Haggerty</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/stephen">
              <img src="/assets/img/team/stephen.jpg" alt="Stephen Platz">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Stephen Platz</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/vu">
              <img src="/assets/img/team/vu.jpg" alt="Vu Nguyen">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Vu Nguyen</div>
                <div class="text--gray-medium">Designer</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/mckenzie">
              <img src="/assets/img/team/mckenzie.jpg" alt="McKenzie Jones">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">McKenzie Jones</div>
                <div class="text--gray-medium">Project Manager and CoLab Hive Office Manager</div>
              </div>
            </a>

          <li class="team-each">
            <a href="/team/ajit">
              <img src="/assets/img/team/ajit.jpg" alt="Ajit Shinde">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Ajit Shinde</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>

  	      <li class="team-each">
            <a href="/team/maryjo">
              <img src="/assets/img/team/maryjo.jpg" alt="MaryJo Meckfessel">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">MaryJo Meckfessel</div>
                <div class="text--gray-medium">Administrative Support Specialist</div>
              </div>
            </a>

  	      <!-- <li class="team-each">
            <a href="/team/danny">
              <img src="/assets/img/team/danny.jpg" alt="Danny Spitzberg">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Danny Spitzberg</div>
                <div class="text--gray-medium">Technology Strategist</div>
              </div>
            </a> -->

  	      <li class="team-each">
            <a href="/team/margy">
              <img src="/assets/img/team/margy.jpg" alt="Margy Levine Young">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Margy Levine Young</div>
                <div class="text--gray-medium">Project Manager and Migration Analyst</div>
              </div>
            </a>

  	      <li class="team-each">
            <a href="/team/jonathan">
              <img src="/assets/img/team/jonathan.jpg" alt="Jonathan Figueroa">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Jonathan Figueroa</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>

  	      <li class="team-each">
            <a href="/team/claire">
              <img src="/assets/img/team/claire.jpg" alt="Claire Carlile">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Claire Carlile</div>
                <div class="text--gray-medium">SEO &amp; Digital Strategy</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/peterh">
              <img src="/assets/img/team/peterh.jpg" alt="Peter Hebert">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Peter Hebert</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/laurie">
              <img src="/assets/img/team/laurie.jpg" alt="Laurie Sterling Jensen">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Laurie Sterling Jensen</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/neetu">
              <img src="/assets/img/team/neetu.jpg" alt="Neetu Morwani">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Neetu Morwani</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/dave">
              <img src="/assets/img/team/daveo.jpg" alt="Dave Onion">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Dave Onion</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/brendon">
              <img src="/assets/img/team/brendon.jpg" alt="Brendon Crawford">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Brendon Crawford</div>
                <div class="text--gray-medium">Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/paige">
              <img src="/assets/img/team/paige.jpg" alt="Paige Panter">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Paige Panter</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/rakhi">
              <img src="/assets/img/team/rakhi.jpg" alt="Rakhi Mandhania">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Rakhi Mandhania</div>
                <div class="text--gray-medium">Project Manager</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/shruti">
              <img src="/assets/img/team/shruti.jpg" alt="Shruti Mehta">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Shruti Mehta</div>
                <div class="text--gray-medium">QA Specialist</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/travis">
              <img src="/assets/img/team/travis.jpg" alt="Travis Vachon">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Travis Vachon</div>
                <div class="text--gray-medium">Senior Developer</div>
              </div>
            </a>
          <li class="team-each">
            <a href="/team/misha">
              <img src="/assets/img/team/misha.jpg" alt="Misha Chitharanjan">
              <div class="text--small center-text">
                <div class="spacing--sm"></div>
                <div class="text--color-default">Misha Chitharanjan</div>
                <div class="text--gray-medium">Senior Developer</div>
              </div>
            </a>



        </ul>
      </div> <!-- /team-block -->

      <div class="footer-info footer-content">
        <h6>
          Ralph Cutler - Chair | Colleen Skemp - Vice-Chair | Ethan Winn - Records/Financial Officer
        </h6>
      </div>

      <!-- <section class="callout">
        We're hiring! <a href="/jobs/">See our job openings ›</a>
      </section> -->

      <div class="spacing--lg-x"></div>

    </section>

    <section>
      <img class="map world-map" src="/assets/img/world-map.svg" alt="World Map">
    </section>

  </main>

  @@include('../templates/_footer.tpl')

  @@include('../templates/_tail.tpl')
