---
title: Asia Pacific Research, Strategy, & Business Development Role
published: true
---

@@include('../../templates/_head.tpl')

<body class="contact">

  @@include('../../templates/_homenav.tpl')

  <main>

    <div class="container--text">
      <a href="/jobs" class="text--gray-medium text--small text--uppercase">‹ Back to jobs</a>
      <div class="spacing--mid-x"></div>
      <h1 class="heading-primary">Asia Pacific Research, Strategy, & Business Development Role</h1>
      <p>CoLab is working to develop a stronger role in contributing to the co-op development and knowledge building movement in the Asia Pacific region. We’re passionate to support the next generation of cooperators starting and growing social impact businesses that benefit people and planet. CoLab is seeking a motivated, self-starter, of entrepreneurial spirit who would like to work with us to grow our Asia Pacific office into a more formal contributor to efforts underway with partners and allies on the ground like ICA-AP.coop and SEWA.</p>
      <p>Does that sound like you? If so, let’s talk about bringing those skills to CoLab Cooperative!</p>
    </div>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">About CoLab</div>
        	<p class="text--small">
            CoLab is an international, worker-owned tech collective that builds interactive technologies for a more just and sustainable planet. Our co-op was founded in 2010 to co-create simple, purpose driven solutions to global problems. We are committed to our clients for the long haul, and we bring our entire team to every engagement. We run a very open, flat, and collaborative organization, and invest in one another as friends and coworkers. Our co-op has a path to becoming a member-ownership, which we hope you’ll consider.
          </p>
      </div>
    </section>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Who We’re Looking For</div>
          <p class="text--small">
            CoLab coworkers bring a wide range of talent and perspectives to our collaboration. We’re looking for people who try to meet complexity with simplicity, and can communicate about it with their peers. As a co-op, we embrace both autonomy and mutual aid. You’ll have clear responsibilities in your role, as well as opportunities to contribute in other areas. We have no criteria around particular background or credentials; we care about your proposals, what you produce, and your growth and happiness with our team. If CoLab sounds like a place for you, read on!
          </p>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Your Responsibilities</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>Work as part of a team to generate qualified leads through business networking with organizations and partners </li>
          <li>Work with the Business Development team to co-author proposals to aligned regional partners</li>
          <li>Generate and close on new business opportunities for CoLab in the Asia Pacific region</li>
          <li>Conduct research and analysis on new work opportunities as part of Discovery scopes of work intended to lead to</li>
          <li>larger bodies of work.</li>
          <li>Help co-design technology solutions that meet the needs of our customers and allies’ needs.</li>
          <li>Contribute strategic thinking around how we can better serve our clients and community partners.</li>
        </ul>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">What you’ll need</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>3+ years working in the strategic planning and design of software solutions ideally using open source technologies.
            <ul>
              <li>Strong domain knowledge and good relationships with contributors.</li>
            </ul>
          </li>
          <li>Experience in digital and interactive product development</li>
          <li>Ability to conduct needs assessments, stakeholder analysis, market research</li>
          <li>Strategic thinking for proposing solutions that meet needs</li>
          <li>Familiarity with the co-op movement, principles, and organizations in India, AP and with the approaches needed to organize across Asia</li>
          <li>Experience with organizing and leading grassroots movements including tech-focused movements</li>
          <li>Familiarity with social impact models and organizations in AP</li>
          <li>Commitment to social impact and economic justice work vis a vis SDG goals</li>
          <li>Desire to build solidarity, align needs and work across nations and regions
            <ul>
              <li>EU &lt;&gt; AP; Indonesia &lt;&gt; India</li>
            </ul>
          </li>
          <li>Ability and willingness to travel as necessary</li>
          <li>Empathic communication skills</li>
        </ul>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Other things that are helpful</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>Experience as a member of a cooperative</li>
          <li>Prior experience with pitches/fundraising and presentations</li>
          <li>Experience recruiting and supporting local meetup organizers.</li>
          <li>Comfort working with a remote or distributed team</li>
          <li>Research skills</li>
          <li>Need assessment, stakeholder analysis skills</li>
          <li>Media relations, networking in AP, EU, startup community</li>
          <li>Entrepreneurial thinking</li>
          <li>Desire to support youth education and mentorship initiatives</li>
        </ul>
      </div>
    </section>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Location Requirement</div>
        <p class="text--small">
          This position is open to applicants living in the Asia Pacific region with a preference to hire an applicant from India given our community there.
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Compensation</div>
        <p class="text--small">
          Hourly, commensurate with experience
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Time Commitment</div>
        <div class="spacing--sm-x"></div>
        <p class="text--small">
          10 hours per week to start, focusing on closing a new work contract with ICA-AP and its partners.  Opportunity to grow from this project as a research contributor and strategist to a multi-year engagement supporting Knowledge Building and Youth Mentorship in ICA.coop Asia Pacific regional work.
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Key Dates</div>
        <p class="text--small">
          Applications due April 1, 2019. Anticipated start date April 22, 2019.
        </p>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern panel-bg-red color-white spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">Apply</div>
        <div class="spacing--sm-x"></div>
        <p class="text--small">Please email <a href="mailto:jobs@colab.coop?subject=AP Research and Strategy Candidate" class="link-white">jobs@colab.coop</a> with the subject line “AP Research and Strategy Candidate.”</p>
        <p>
        We center underrepresented people and communities in our work. Women, gender non-conforming people, and people of color strongly encouraged to apply. Please be prepared to share the following:
          <ul class="ul-default text--small">
            <li>A brief, 2-3 paragraph cover letter about your background and what you hope to bring to this work</li>
            <li>A resume or CV and portfolio or professional links</li>
            <li>Availability to start and other considerations</li>
            <li>Two questions you have for us</li>
          </ul>
        </p>
        <p>
          We look forward to talking with you!
        </p>
      </div>
    </section>

  </main>

  @@include('../../templates/_footer.tpl')

  @@include('../../templates/_tail.tpl')
