---
title: Rôle de recherche, stratégie et développement des affaires au Québec
published: true
---

@@include('../../templates/_head.tpl')

<body class="contact">

  @@include('../../templates/_homenav.tpl')

  <main>

    <div class="container--text">
      <a href="/jobs" class="text--gray-medium text--small text--uppercase">‹ Retour aux offres d'emploi</a>
      <div class="spacing--mid-x"></div>
      <h1 class="heading-primary">Rôle de recherche, stratégie et développement des affaires au Québec</h1>
      <a href="/jobs/québec-research-strategy-bizdev">for the English version, click here</a>
      <p>
        CoLab désire renforcer son rôle de contributeur au mouvement de développement des coopératives et de connaissances associées à ce mouvement au Québec. Nous sommes dédiés à soutenir la prochaine génération de coopérateurs démarrant et développant des entreprises à impact social bénéfique pour les personnes et la planète. CoLab recherche un entrepreneur motivé, autonome, qui aimerait travailler avec nous pour faire de notre bureau québecois un contributeur plus formel aux efforts en cours avec des partenaires et des alliés dans la région, tel qu'à Montréal.
      </p>
      <p>
        Cela vous ressemble-t-il? Si tel est le cas, parlons d’apporter ces compétences à CoLab Cooperative!
      </p>
    </div>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">À PROPOS DE COLAB</div>
        	<p class="text--small">
            CoLab est un collectif de technologies international appartenant aux travailleurs qui construit des technologies interactives pour une planète plus juste et durable. Notre coopérative a été fondée en 2010 dans le but de co-créer des solutions simples et ciblées à des problèmes mondiaux. Nous sommes engagés envers nos clients sur le long terme et nous impliquons toute notre équipe à chaque engagement. Nous gérons un organisme très ouvert et collaboratif; nous sommes des amis ainsi que des collègues. Notre coopérative est sur le point de devenir la propriété des membres, et nous espérons que vous en tiendrez compte.
          </p>
      </div>
    </section>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">QUI NOUS RECHERCHONS</div>
          <p class="text--small">
            Les collègues de CoLab apportent un large éventail de talents et de perspectives à notre collaboration. Nous recherchons des bon communicateurs qui font face à la complexité avec simplicité. En tant que coopérative, nous encourageons l'autonomie ainsi que l'aide mutuelle. Vous aurez des responsabilités claires dans votre rôle; de plus, des opportunités de contribuer dans d’autres domaines. Nous n’avons aucun critère concernant les antécédents ou les titres de compétences particuliers; nous nous soucions de vos propositions, de ce que vous produisez, de votre croissance et de votre bonheur au sein de notre équipe. Si CoLab vous ressemble, lisez la suite!
          </p>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">VOS RESPONSABILITÉS</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>Travailler au sein d'une équipe pour générer des prospects qualifiés grâce au réseautage avec des organismes et des partenaires</li>
          <li>Adapter notre offre de services aux entreprises et notre stratégie globale de développement des activités aux besoins des partenaires coopératifs et à impact social de la région du Québec.</li>
          <li>Être notre liaison d’introduction avec des partenaires alignés et des collègues qui partagent notre mission et nos principes pour construire ensemble une économie solidaire transnationale.</li>
          <li>Travailler avec l'équipe de développement des affaires pour co-rédiger des propositions à des partenaires régionaux alignés</li>
          <li>Générer et conclure de nouvelles opportunités commerciales pour CoLab dans la région québécoise</li>
          <li>Effectuer des recherches et des analyses sur les nouvelles opportunités de travail dans le cadre des champs de travail de découverte destinés à déboucher sur des tâches plus vastes.</li>
          <li>Aidez à co-concevoir des solutions technologiques qui répondent aux besoins de nos clients et de ceux de nos alliés.</li>
          <li>Contribuer à la réflexion stratégique sur la manière de mieux servir nos clients et nos partenaires communautaires.</li>
        </ul>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">COMPÉTENCES REQUISES</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>Plus de 3 ans d'expérience dans la planification stratégique et la conception de solutions logicielles utilisant de manière idéale les technologies de source libre.</li>
          <li>Solide connaissance du domaine et bonnes relations avec les contributeurs.</li>
          <li>Expérience dans le développement de produits numériques et interactifs</li>
          <li>Capacité à effectuer des évaluations de besoins, une analyse des parties prenantes et études de marché</li>
          <li>Capacité de réflexion stratégique pour proposer des solutions répondant aux besoins</li>
          <li>Familiarité avec le mouvement coopératif, les principes et les organismes Québecois ainsi qu'au Canada et en Amérique du Nord</li>
          <li>Expérience en matière d'organisation et de direction de mouvements populaires, y compris de mouvements axés sur la technologie</li>
          <li>Familiarité avec les modèles et les organismes à impact social de la région du Québec</li>
          <li>Engagement en faveur de l'impact social et de la justice économique par rapport aux objectifs de développement durable</li>
          <li>Désir de construire la solidarité, d'aligner les besoins et de travailler à travers l’Amérique du Nord</li>
          <li>Capacité et volonté de voyager selon les besoins</li>
          <li>Compétences de communication empathique</li>
          <li>Maîtrise du français et de l'anglais</li>
        </ul>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">AUTRES CAPACITÉS UTILES</div>
        <div class="spacing--sm-x"></div>
        <ul class="ul-default text--small">
          <li>Expérience en tant que membre d'une coopérative</li>
          <li>Expérience préalable avec des présentations / levées de fonds</li>
          <li>Expérience dans le recrutement et l’appui des organisateurs de rencontres locales.</li>
          <li>Confortable à travailler avec une équipe distante ou distribuée</li>
          <li>Compétences de recherche</li>
          <li>Évaluation des besoins, compétences en analyse des parties prenantes</li>
          <li>Relations avec les médias, réseautage en Californie, aux États-Unis et dans la communauté des start-ups</li>
          <li>Pensée entrepreneuriale</li>
          <li>Désir de soutenir les initiatives d'éducation et de mentorat pour les jeunes</li>
        </ul>
      </div>
    </section>

    <section class="panel-full spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">LOCALISATION</div>
        <p class="text--small">
          Ce poste est ouvert aux candidats résidant dans la région du Québec avec une préférence pour un candidat de Montréal compte tenu de notre communauté.
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">COMPENSATION</div>
        <p class="text--small">
          Retenue + horaire. Rémunération pour les efforts de développement commercial et de stratégie, la performance étant mesurée par rapport aux indicateurs de performance clés à partager.
        </p>
        <p class="text--small">
          Recherche de travaux de sous-traitance facturables par le client payés sur une base horaire.
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">CONDITIONS DE TRAVAIL</div>
        <div class="spacing--sm-x"></div>
        <p class="text--small">
          10 heures par semaine pour commencer, se concentrant sur la conclusion d'un nouveau contrat de travail avec ICA.coop et ses partenaires. Opportunité de passer de ce projet en tant que contributeur à la recherche et stratège à un engagement pluriannuel en faveur du développement du savoir et du mentorat jeunesse dans le travail régional d'ICA.coop dans le marché québecois et canadien français.
        </p>
      </div>
      <div class="container--text">
        <div class="h2 center-text text--uppercase">DATES CLÉS</div>
        <p class="text--small">
          Date de début prévue le 1er juillet 2019.
        </p>
      </div>
    </section>

    <section class="panel-full panel-bg-pattern panel-bg-red color-white spacing--lg">
      <div class="container--text">
        <div class="h2 center-text text--uppercase">POSTULER</div>
        <div class="spacing--sm-x"></div>
        <p class="text--small">
          SVP envoyer un courriel à <a href="mailto:jobs@colab.coop?subject=Candidat recherche et stratégie au Québec" class="link-white">jobs@colab.coop</a> avec le sujet « Candidat recherche et stratégie au Québec »
        </p>
        <p class="text--small">
          Nous nous concentrons sur des personnes et communautés sous-représentés. Les femmes, les personnes non-conforme à un genre et les membres des minorités visibles sont fortement encouragés à postuler.
        </p>
        <p>
          Préparez-vous à partager les éléments suivants:
          <ul class="ul-default text--small">
            <li>Une brève lettre d'accompagnement de 2-3 paragraphes sur votre parcours et ce que vous espérez apporter à ce travail</li>
            <li>Un CV ou un portfolio et des liens professionnels</li>
            <li>Disponibilité et autres considérations</li>
            <li>Deux questions que vous avez pour nous</li>
          </ul>
        </p>
        <p>
          Nous avons hâte de parler avec vous!
        </p>
      </div>
    </section>

  </main>

  @@include('../../templates/_footer.tpl')

  @@include('../../templates/_tail.tpl')
