---
title: David Brooks
---

@@include('../../templates/_head-team.tpl')

<body class="team-profile">

  @@include('../../templates/_homenav.tpl')

  <main>
    <section class="panel-full panel-bg-pattern color-red-bg">
      <div class="container clearfix">
        <div class="team-profile-intro-block grid-parent">
          <div class="team-profile-heading">
            <h1 class="lubalin-bold">David Brooks</h1>
            <div>Owner, Developer</div>
          </div>

            <div class="team-profile-badges">
              <div class="badge" data-tooltip="Development">
                <img src="/assets/img/badges/badge-development.svg" alt="badge-development">
              </div>
            </div>
        </div> <!-- /team-profile-intro-block -->
      </div> <!-- /container -->
    </section> <!-- /panel -->

    <section>
      <div class="container">
          <div class="grid-parent clearfix">
            <div class="team-profile-meta">
              <img src="/assets/img/team/david.jpg" alt="David Brooks">
              <div class="team-profile">
                <div class="team-profile-each">
                  <h2 class="h2">SUPPORTS</h2>
                  <a href="https://256.makerslocal.org">Maker’s Local 256</a>
                </div>

                <div class="team-profile-each">
                  <h2 class="h2">CONNECT</h2>
                  <div class="team-profile-social">
                    <a href="http://twitter.com/brodavi">
                      <svg viewBox="0 0 20 20" class="ico-social">
                        <use xlink:href="/assets/img/ico-social.svg#ico-twitter"></use>
                      </svg>
                    </a>
                    <a href="https://github.com/brodavi">
                      <svg viewBox="0 0 20 20" class="ico-social">
                        <use xlink:href="/assets/img/ico-social.svg#ico-github"></use>
                      </svg>
                    </a>
                  </div> <!-- /team-profile-social -->
                </div>
              </div> <!-- /team-profile -->
            </div> <!-- /team-profile-meta -->

            <div class="team-profile-bio">
              <p>David is a technology enthusiast, futurist, and programmer. He is passionate about simplicity, collaboration, egalitarianism, and a more aware, compassionate world. He believes we are now at a crucial stage in human societal evolution where positive, radical change for good can be amplified and extended in ways never before possible.</p>

              <p>David is a founding member of the <a href="https://256.makerslocal.org">Maker’s Local 256</a> hackerspace in Huntsville, Alabama. He enjoys hiking, sailing, meditation, and vegetarian cooking. He hopes to help encourage a more DIY, participatory, and community-centered world.</p>
            </div> <!-- /team-profile-bio -->

          </div>
      </div> <!-- /container -->
    </section>

  </main>

  @@include('../../templates/_footer.tpl')

  @@include('../../templates/_tail.tpl')
