---
title: McKenzie Jones
---

@@include('../../templates/_head-team.tpl')

<body class="team-profile">

  @@include('../../templates/_homenav.tpl')

  <main>
    <section class="panel-full panel-bg-pattern color-red-bg">
      <div class="container clearfix">
        <div class="team-profile-intro-block grid-parent">
          <div class="team-profile-heading">
            <h1 class="lubalin-bold">McKenzie Jones</h1>
            <div>Project Manager and CoLab Hive Office Manager</div>
          </div>

            <div class="team-profile-badges">
              <div class="badge" data-tooltip="Project Manager">
                <img src="/assets/img/badges/badge-pm.svg" alt="badge-pm">
              </div>
              <div class="badge" data-tooltip="Design">
                <img src="/assets/img/badges/badge-business.svg" alt="badge-business">
              </div>
            </div>
        </div> <!-- /team-profile-intro-block -->
      </div> <!-- /container -->
    </section> <!-- /panel -->

    <section>
      <div class="container">
          <div class="grid-parent clearfix">
            <div class="team-profile-meta">
              <img src="/assets/img/team/mckenzie.jpg" alt="McKenzie Jones">
              <div class="team-profile">
              </div> <!-- /team-profile -->
            </div> <!-- /team-profile-meta -->

            <div class="team-profile-bio">
              <p>McKenzie spent much of her childhood traveling internationally with family, and these early experiences instilled in her a great love and respect for all people. She went on to study human development and family studies during her undergraduate tenure at Penn State in order to better understand those around her. During that time, she also became actively involved in the ongoing movement for environmental sustainability. After that, a unique living opportunity presented itself: living in an off-grid yurt, which further reinforced her commitment to care for the land and all its inhabitants.</p>
              <p>McKenzie went on to receive her Master’s Degree at Cornell University and has been in Ithaca ever since. There, she studied design and environmental analysis, with additional focus on the interactive effects between housing and neighborhood quality on psychological well-being. She has kept a strong interest utilizing the design of physical spaces to improve quality of life in her community and has served as a member of the Ithaca Planning and Development Board for many years. McKenzie is excited to utilize her skills as the manager of CoLab’s office and coworking space, <a href="http://colabhive.com/">The Hive</a>. Here, her job is to optimize the space and maintain the positive, professional atmosphere for all to enjoy.</p>
            </div> <!-- /team-profile-bio -->

          </div>
      </div> <!-- /container -->
    </section>

  </main>

  @@include('../../templates/_footer.tpl')

  @@include('../../templates/_tail.tpl')
