---
title: Rylan Peery
---

@@include('../../templates/_head-team.tpl')

<body class="team-profile">

  @@include('../../templates/_homenav.tpl')

  <main>
    <section class="panel-full panel-bg-pattern color-red-bg">
      <div class="container clearfix">
        <div class="team-profile-intro-block grid-parent">
          <div class="team-profile-heading">
            <h1 class="lubalin-bold">Rylan Peery</h1>
            <div>Owner, Co-Founder</div>
          </div>

            <div class="team-profile-badges">
              <div class="badge" data-tooltip="Business">
                <img src="/assets/img/badges/badge-business.svg" alt="badge-business">
              </div>
              <div class="badge" data-tooltip="Strategy">
                <img src="/assets/img/badges/badge-strategy.svg" alt="badge-strategy">
              </div>
              <div class="badge" data-tooltip="Account Management">
                <img src="/assets/img/badges/badge-account.svg" alt="badge-account">
              </div>
            </div>
        </div> <!-- /team-profile-intro-block -->
      </div> <!-- /container -->
    </section> <!-- /panel -->

    <section>
      <div class="container">
          <div class="grid-parent clearfix">
            <div class="team-profile-meta">
              <img src="/assets/img/team/rylan.jpg" alt="Rylan Peery">
              <div class="team-profile">
                <div class="team-profile-each">
                  <h2 class="h2">SUPPORTS</h2>
                  <a href="http://www.eff.org">Electronic Frontier Foundation</a>
                  <a href="http://dharmatreasure.com">Dharma Treasure</a>
                </div>

                <div class="team-profile-each">
                  <h2 class="h2">CONTRIBUTES TO</h2>
		<a href="https://www.upandgo.coop">Up & Go</a>
                  <a href="http://lookin.to">INTO</a>
		<a href="https://www.getrefm.com/valuate/">Valuate</a>
		VTArtWorks
                </div>

                <div class="team-profile-each">
                  <h2 class="h2">CONNECT</h2>
                  <div class="team-profile-social">
                    <a href="http://www.linkedin.com/in/rylan">
                      <svg viewBox="0 0 20 20" class="ico-social">
                        <use xlink:href="/assets/img/ico-social.svg#ico-linkedin"></use>
                      </svg>
                    </a>
                    <a href="http://twitter.com/RylanPeery">
                      <svg viewBox="0 0 20 20" class="ico-social">
                        <use xlink:href="/assets/img/ico-social.svg#ico-twitter"></use>
                      </svg>
                    </a>
                  </div> <!-- /team-profile-social -->
                </div>
              </div> <!-- /team-profile -->
            </div> <!-- /team-profile-meta -->

            <div class="team-profile-bio">
              	<p>Rylan’s mission is to co-develop solutions supporting the evolution of community and planet: a theme he explored deeply while studying at the intersection of technology, anthropology and biology at Stanford University. </p>

<p>Rylan began his professional journey cultivating technology expertise by working at a Silicon Valley venture capital firm.  There he placed his focus on understanding the capital needs of social enterprise technology ventures and envisioning alternative economic models for financing co-operative development.  </p>

<p>From finance, Rylan embarked on a journey as a developer and entrepreneur co-founding a technology startup, GiveBack; consulting on business strategy with Fortune 500 clients; and rolling up his sleeves as a front-end web engineer via a digital agency founded with his wife, Jessica.  One of these early technology experiments was converted into the co-operative that is CoLab Co-op today.</p>

<p>Rylan now enjoys collaborating with his peers to support mission-driven entrepreneurs, educators, activists, and organizers to co-create a brighter future one human interaction at a time.   At CoLab, Rylan serves as a member-owner working as a technology strategist, a product designer and a financial liaison to the tech co-op movement.  </p>

<p>On the personal front, Rylan is a father of 5, a lifelong outdoor adventurer, surfer, yogi, and a novice permaculture enthusiast.  Rylan is fascinated by the potential of decentralized networks, interactive art and blockchain technology to transform the future.  
</p>
            </div> <!-- /team-profile-bio -->

          </div>
      </div> <!-- /container -->
    </section>

  </main>

  @@include('../../templates/_footer.tpl')

  @@include('../../templates/_tail.tpl')
